<html>
<head>
<title>Munch RSS Dashboard</title>
<style type="text/css">
* {

}

body {
	margin: 0px;
	padding: 0px;
}

#container {
	width: 720px;
	margin-left: auto;
	margin-right: auto;
}

#unreadlist {

}

.unreaditem {
	padding-bottom: .5em;
}

.unreaditem_title {

}

.unreaditem_date {
	float: right;
}

.unreaditem_feed {
	padding-left: 1em;
}

#feedlist {

}

.feed {

}

.feed_name {
	font-weight: bold;
}

.feed_item {
	display: none;
}

.feed_item_title {

}

#footer {
	margin-top: 1em;
	border-top: 1px solid #ccc;
}

#copyright {
	font-size: 80%;
}
</style>

<script language="javascript">

</script>
</head>

<body>

<div id="container">

<h2>Unread</h2>

<div id="unreadlist">

{{range .Unread}}
<div class="unreaditem" id="u{{.ID}}">
<div class="unreaditem_title">
<a href="{{.URL}}" target="_blank" onclick="window.location='/open/{{.ID}}'">{{.Title}}</a>
</div>
<div class="unreaditem_date">
on {{.Date}}
</div>
<div class="unreaditem_feed">
in <a href="{{.Feed.Info.MainURL}}" target="_blank">{{.Feed.Info.Name}}</a>
</div>
</div>

{{end}}

</div>

<h2>Recent</h2>

<div id="feedlist">
{{range .Feeds}}
<div class="feed" id="f{{.ID}}">
<div class="feed_name">
<a href="{{.Info.MainURL}}" target="_blank">{{.Info.Name}}</a>
</div>
{{range .Items}}
<div class="feed_item" id="f{{.ID}}">
<div class="feed_item_title">
<a href="{{.URL}}" target="_blank" onclick="window.location='/open/{{.ID}}'">{{.Title}}</a>
</div>
</div>
{{end}}
</div>
{{end}}
</div>

<div id="footer">
<span id="copyright">

Munch Copyright &copy; 2011 Scott Lawrence &lt;<a href="mailto:bytbox@gmail.com">bytbox@gmail.com</a>&gt;

</span>
</div>
</div>
</body>
</html>

