<html>
<head>
<title>Munch RSS Dashboard</title>
<style type="text/css">
* {

}

body {
	margin: 0px;
	padding: 0px;
}

#container {
	width: 720px;
	margin-left: auto;
	margin-right: auto;
}

#feedlist {

}

.feed {

}

.feed_name {
	font-weight: bold;
}

#footer {
	margin-top: 1em;
	border-top: 1px solid #ccc;
}

#copyright {
	font-size: 80%;
}
</style>

<script language="javascript">

</script>
</head>

<body>

<div id="container">

<h1>Munch</h1>

<div id="feedlist">
{{range .Feeds}}
<div class="feed">
<div class="feed_name">{{.Info.Name}}</div>
{{range .Items}}
<div class="feed_item">
<div class="feed_item_title">{{.Title}}</div>
</div>
{{end}}
</div>
{{end}}
</div>

<div id="footer">
<span id="copyright">

Munch Copyright &copy; 2011 Scott Lawrence &lt;<a href="mailto:bytbox@gmail.com">bytbox@gmail.com</a>&gt;

</span>
</div>
</div>
</body>
</html>

